body, head {
    height: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: url("../src/u7.svg"), default;
    background: #F8FFFF;
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

header > div {
    width: calc(100% / 3);
    min-width: calc(100% / 3);
}

.previous-page, .close {
    cursor: pointer;
    transform: rotate(-90deg);
    height: 60%;
    width: auto;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}

.main-label {
    display: flex;
    font-size: 36px;
    color: #0000AA;
    font-style: normal;
    justify-content: center;
    width: calc(100% / 3);
    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
    cursor: url("../src/u24.svg"), text;
}

.main-label > div {
    align-self: end;
    margin-left: 20px;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    height: 90vh;
}

.in-game{
    position: absolute;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(51, 51, 51, 1);
    z-index: 10000;
}

.dot {
    opacity: 0;
    animation: fadeInOut 1.5s linear infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.place-ships {
    margin-bottom: 40px;
    color: #0000aa;
    text-align: left;
    line-height: normal;
    font-size: 18px;
    margin-top: 47px;
    cursor: url("../src/u24.svg"), text;
}

.nickname {
    cursor: url("../src/u24.svg"), text;
    margin-bottom: 41px;
    font-size: 13px;
    color: #0000aa;
}

.play-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.battle-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 19px;
    position: relative;
}

.field {
    width: 275px;
    height: 275px;
    flex-shrink: 0;
    position: relative;
    background: url('./img/bg_play_field.png') no-repeat;
    cursor: url("../src/u24.svg"), text;
}

.game-search-spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 25px;
    top: 25px;
    width: 250px;
    height: 250px;
    background: rgba(51, 51, 51, 0.5);
    user-select: none;
    z-index: 2000;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.spinner img {
    width: 100%;
    height: 100%;
    animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    10%, 50% {
        transform: scaleY(0.85) translateY(97px);
    }
    70% {
        transform: scaleY(0.95) translateY(50px);
    }
    30% {
        transform: scaleY(0.9) translateY(30px);
    }
}

.ships {
    width: 250px;
    height: 250px;
    position: relative;
    left: 25px;
    top: 25px;
    cursor: url("../src/u7.svg"), default;
}

.prepare-field {
    display: flex;
    flex-direction: column;
    margin-right: 47px;
    margin-top: 25px;
}

.docks {
    border: 1px solid black;
    height: 200px;
    width: 180px;
    position: relative;
}

.control-panel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 11px;
    width: 180px;
    height: 20px;
}

.control-panel > img {
    flex-grow: 1;
}

.queue {
    color: #0000AA;
    display: flex;
    flex-direction: column;
}

.start-queue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-queue > span {
    text-align: center;
    line-height: 30px;
    width: 146px;
    height: 34px;
    padding: 2px 2px 2px 2px;
    border-radius: 20px;
    background-color: rgba(128, 255, 255, 0.36);
    font-size: 13px;
}

.timer {
    display: flex;
    margin-top: 32px;
}

.ready {
    background: #0000AA;
    border: none;
    color: #ffffff;
    font-size: 13px;
    width: 140px;
    height: 40px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 40px;
}

.ready:disabled {
    opacity: 0.5;
}

.rotate, .random {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 60px;
    height: 74px;
}

.rotate:active, .random:active {
    scale: 0.9;
}

.rotate > span, .random > span {
    margin-top: 5px;
    font-size: 10px;
    color: #6D70CF;
}

.rotate > img, .random > img {
    border-radius: 5px;
    object-fit: cover;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #6D70CF;
    width: 60px;
    height: 60px;
}

.clear-field {
    margin-top: 12px;
    padding: 2px;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #797979;
    background-color: rgba(128, 128, 255, 0.48);
    box-sizing: border-box;
    color: #0000aa;
    text-align: center;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clear-field > img {
    margin-left: 5px;
}

.ship {
    height: 25px;
    position: absolute;
    cursor: pointer;
}

.selected {
    box-shadow: 0 0 10px #0072ff;
}

.ships .ship {
    z-index: 100;
}

.ships .ship:active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0072ff;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    animation: ripple 0.4s linear;
    pointer-events: none;
    z-index: 0;
}

@keyframes ripple {
    0% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.down {
    transform: rotate(90deg);
    transform-origin: 12px 12px;
}

.up {
    transform: rotate(-90deg);
    transform-origin: 11px 12px;
}

.left {
    transform: rotate(180deg);
    margin-top: -1px;
}

.fourdeck {
    width: 100px;
    height: 25px;
    background: url("./img/s4.png") no-repeat;
}

.fourdeck.success {
    box-shadow: 0 0 10px darkgreen;
}

.fourdeck.unsuccess {
    box-shadow: 0 0 10px darkred;
}

.tripledeck {
    width: 75px;
    background: url("./img/s3.png") no-repeat;
}

.tripledeck.success {
    box-shadow: 0 0 10px darkgreen;
}

.tripledeck.unsuccess {
    box-shadow: 0 0 10px darkred;
}

.doubledeck {
    width: 50px;
    background: url("./img/s2.png") no-repeat;
}

.doubledeck.success {
    box-shadow: 0 0 10px darkgreen;
}

.doubledeck.unsuccess {
    box-shadow: 0 0 10px darkred;
}

.singledeck {
    width: 25px;
    background: url("./img/s1.png") no-repeat;
}

.singledeck.success {
    box-shadow: 0 0 10px darkgreen;
}

.singledeck.unsuccess {
    box-shadow: 0 0 10px darkred;
}

.initial-ships li {
    height: 25px;
    position: relative;
    overflow: hidden;
    margin-left: 11px;
}

.initial-ships li:not(:last-child) {
    margin-bottom: 26px;
}

.initial-ships .ship {
    width: 200px;
    left: 0;
    top: 0;
    float: left;
}

.initial-ships .tripledeck2 {
    left: 80px;
}

.initial-ships .doubledeck2 {
    left: 55px;
}

.initial-ships .doubledeck3 {
    left: 110px;
}

.initial-ships .singledeck2 {
    left: 30px;
}

.initial-ships .singledeck3 {
    left: 60px;
}

.initial-ships .singledeck4 {
    left: 90px;
}

.green-cell {
    z-index: 0;
    padding: 0.5px;
    width: 24px;
    height: 24px;
    background: #97F10A;
    position: absolute;
}

.red-cell {
    z-index: 0;
    padding: 0.5px;
    width: 24px;
    height: 24px;
    background: #E8828F;
    position: absolute;
}
