body, head {
    height: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: url("../../src/u7.svg"), default;
    background: #F8FFFF;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

header>div {
    width: calc(100%/3);
    min-width: calc(100%/3);
}

.previous-page, .close {
    transform: rotate(-90deg) ;
    height: 60%;
    width: auto;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}

.main-label {
    display: flex;
    font-size: 36px;
    color: #0000AA;
    font-style: normal;
    justify-content: center;
    width: calc(100%/3);
    min-width: calc(100%/3);
    max-width: calc(100%/3);
    cursor: url("../../src/u24.svg"), text;
}

.main-label > div {
    align-self: end;
    margin-left: 20px;
}

main {
    display: flex;
    color: #0000AA;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    height: 90vh;
}

.time-to-turn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 35px;
}

.time-to-turn > div {
    display: flex;
}

.time-to-turn>span {
    font-size: 18px;
}

.skip {
    display: flex;
    justify-content: space-between;
    width: 687px;
}

.skip > div {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 79px;
    text-align: center;
}

.skip span {
    font-size: 20px;
    text-align: center;
    color: #910012;
    width: 33px;
    height: 32px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #797979;
    border-radius: 100%;
}

.player-nick {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 574px;
}

.player-nick > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}

.player-nick span {
    margin-top: 7px;
    margin-bottom: 14px;
}

.player-nick > div:first-child {
    margin-left: 25px;
}

.highlite {
    width: 184px;
    height: 29px;
    padding: 2px 2px 2px 2px;
    border-radius: 20px;
    background-color: rgba(149, 242, 4, 0.27);
}

.battle-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 574px;
}

.field {
    width: 275px;
    height: 275px;
    flex-shrink: 0;
    position: relative;
    background: url('../img/bg_play_field.png') no-repeat;
}

.ships {
    width: 250px;
    height: 250px;
    position: relative;
    left: 29px;
    top: 27px;
}

.ship {
    height: 25px;
    position: absolute;
}

.south {
    transform: rotate(90deg);
    transform-origin: 15px 10px;
}

.north {
    transform: rotate(-90deg);
    transform-origin: 11px 12px;
}

.west {
    transform: rotate(180deg);
}

.fourdeck {
    width: 100px;
    height: 25px;
    background: url("../img/s4.png") no-repeat;
}

.tripledeck {
    width: 75px;
    background: url("../img/s3.png") no-repeat;
}

.doubledeck {
    width: 50px;
    background: url("../img/s2.png") no-repeat;
}

.singledeck {
    width: 25px;
    background: url("../img/s1.png") no-repeat;
}


